# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

#  Ignored Files
streamlitMediapipeWebApp.ipynb
output*.mp4
streamlitSharing_ExceedsResourceLimits.py
streamlitSharing_LooksOkay.py
.vscode/